<nav>
        <ul class="menu">
            <li><a href="#">Sobre a Loja</a></li>
            <li><a href="#">Lista de Produtos</a></li>
            <li><a href="#">Seus Produtos Preferidos</a></li>
            <li><a href="#">Contate-nos</a>
                         
        </ul>
    </nav>
        <br><br><br><br><br>
    <nav class="menu1">
            <h1>Produtos em Promoção</h1>
            <li><a href="#">Produtos Nacionais</a></li>
            <li><a href="#">Produtos Importados</a></li>
    </nav>
        
        <form method= "post">
    <h3>PESQUISA DE SATISFAÇÃO AO USUÁRIO</h3>
    
    <p>DADOS PESSOAIS:</p></br>
        Nome: <input type= "text"></br>
        Data de nascimento:<input type= "date" name="nasc"></br></br>
        
    <p>VOCÊ ACESSA O NOSSO SITE, COM QUE REGULARIDADE:</p></br>
        <select>
            <option value="tododia" >diariamente</option>
            <option value="mais" >mais de duas vezes por semana</option>
            <option value="menos" >menos de duas vezes por semana</option>
        </select>
        </br>
    <p>QUAIS OS PRODUTOS QUE VOCÊ MAIS BUSCA EM NOSSO SITE:</p></br>
        Produtos: <input type= "text"></br>
    
    <p>QUAIS OS PRODUTOS QUE VOCÊ GOSTARIA DE VER EM NOSSO SITE:</p></br>
        Outros: <input type= "text"></br></br>
        <input type= "submit" value= "ENVIAR" ></br>
    
        <h3>Obrigada pela sua participação!!</h3></br>
      
    </form>
        
        <section> 
        <h3> VEJA AS ULTIMAS NOVIDADES!!</h3>
        </section>    
	<div class="container mg-top-nav" ui-view></div>